@mixin button{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: var(--button-height, 50px);
    border: 1px solid var(--border-color, transparent);
    border-radius: 0.5rem;
    text-decoration: none;
    text-transform: uppercase;
    appearance: none;
    padding: 1rem 2.5rem;
    background-color: var(--button-bg-color, var(--primary-500));
    color: var(--button-color, #fff);
    transition-duration: .3s;

    // Hover
    &:hover{
        --button-bg-color: var(--secondary-500);
        text-decoration: none;
    }
}

.button{
    @include button;
    @include text-sm;
    @include bold;
}

// Variants

@mixin button--primary{
    --button-color: var(--primary);
    --button-bg-color: var(--secondary-400);
    
    &:hover{
        --button-bg-color: var(--secondary-500);
        text-decoration: none;
        border-bottom: 2px solid var(--secondary);
    }
}
.button--primary{
    @include button--primary;
}

@mixin button--outline{
    --button-color: var(--secondary-500);
    --button-bg-color: #fff;
    --border-color: var(--primary-100, #E7F0FF);
    box-shadow: 0px 3px 15px 0px rgba(0, 6, 91, 0.10);

    &:hover{
        --button-color: var(--primary, #00065B);
        --button-bg-color: var(--primary-100, #E7F0FF);
        box-shadow: 0px 5px 15px 0px rgba(0, 6, 91, 0.30);
    }

    &:active {
        --button-color: #fff;
        --border-color: var(--primary-500, #264AFB);
        --button-bg-color: var(--primary-500, #264AFB);
        box-shadow: 0px 5px 15px 0px rgba(0, 6, 91, 0.30);
    }
}

.button--outline{
    @include button--outline;
}