$css-vars: (
    base: (
        // Typography
        --font: "Montserrat, sans-serif",
        --font-secondary: var(--font),

        --font-size: 16px,
        --line-height: 1.5,
        --paragraph-spacing: 1.5rem,

        --font-size-sm: 14px,
        --font-size-md: 16px,
        --font-size-lg: 18px,

        --font-medium: 500,
        --font-bold: 700,

        --h0: 60px,
        --h1: 48px,
        --h2: 32px,
        --h3: 24px,
        --h4: 20px,


        // Colors
        --color: #000,
        --bg-color: #fff,

        --primary: #00065B,
        --primary-100: #E7F0FF,
        --primary-300: #7387AC,
        --primary-400: #5F7AFF,
        --primary-500: #264AFB,

        --secondary: #009E61,
        --secondary-400: #06EB83,
        --secondary-500: #01D684,

        --light: #f2f2f2,
        --dark: #212529,

        --gray-light: #f2f2f2,
        --gray: #999,
        --gray-dark: #666,

        --border-color: #dfdfdf,
        --img-bg: var(--gray-light),

        --green: #7ab573,
        --orange: #f6b036,
        --red: #de594a,

        --info: var(--light),
        --success: var(--green),
        --warning: var(--orange),
        --error: var(--red),


        // Spacing
        --spacing: 8px,


        // Grid
        --gutter-x: 30px,
        --gutter-y: 30px,
        --container-width: 1180px,
        --container-padding: 30px,


        // Sections
        --section-padding: 100px,


        // Other
        --border-radius: 0
    ),
    // Breakpoints
    // Be careful not to leave behind empty arrays like md:().
    md: (
        --section-padding: 80px,
    ),
    xs: (
        --section-padding: 60px,
        --container-padding: 15px,
    )
) !default;
